{% extends 'base.html.twig' %}

{% block title %}Lecon index{% endblock %}

{% block body %}
    <style>



        h1 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .btn {
            margin-right: 10px;
        }

        .table th, .table td {
            vertical-align: middle;
        }


        .table {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
    </style>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Leçons</h1>
            </div>
            <div class="col-2">
                {% if is_granted('ROLE_PROF') %}
                    <a class="btn btn-success btn-block" href="{{ path('app_lecon_new') }}">Ajouter Leçon</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table mb-n3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lecon in lecons %}
                        <tr>
                            <td>{{ lecon.id }}</td>
                            <td>{{ lecon.nom }}</td>
                            <td>{{ lecon.description }}</td>
                            <td class="d-flex">
                                <a class="btn btn-primary me-2" href="{{ path('app_lecon_show', {'id': lecon.id}) }}">Afficher</a>
                                {% if is_granted('ROLE_PROF') %}
                                    <a class="btn btn-warning me-2" href="{{ path('app_lecon_edit', {'id': lecon.id}) }}">Modifier</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucune leçon</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

