{% extends 'base.html.twig' %}

{% block title %}Lecon{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="text-center mb-4">Lesson Details</h1>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th class="w-25" scope="row">Id</th>
                            <td>{{ lecon.id }}</td>
                        </tr>
                        <tr>
                            <th class="w-25" scope="row">Nom</th>
                            <td>{{ lecon.nom }}</td>
                        </tr>
                        <tr>
                            <th class="w-25" scope="row">Description</th>
                            <td>{{ lecon.description }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center mt-4">
                    <a class="btn btn-primary mr-3" href="{{ path('app_lecon_index') }}">Back to List</a>
                    <a class="btn btn-warning" href="{{ path('app_lecon_edit', {'id': lecon.id}) }}">Edit</a>
                </div>
            </div>
        </div>

        {{ include('lecon/_delete_form.html.twig') }}
    </div>
{% endblock %}
