<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 56px; /* La hauteur de la barre de navigation */
        }
        .navbar {
            background-color: #f8f9fa; /* Couleur de fond de la barre de navigation */
        }
        .navbar-brand {
            font-weight: bold; /* Police en gras pour la marque */
        }
        .nav-link {
            color: #333; /* Couleur du texte des liens */
        }
        /* Mettez ici vos propres styles CSS personnalisés */
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_lecon_index') }}">Les Lecons</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_lecon_index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_mesinscriptions') }}">Mes inscriptions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4">
    {% block body %}{% endblock %}
</div>
</body>
</html>

