{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <style>


        .table,h1{
            margin-left:-300px;
        }
        .table th, .table td {
            vertical-align: middle;
        }


        .table {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
    </style>



    <h1 >Liste des Enseignants</h1>
    <table class="table mb-n7">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    {% if 'ROLE_ADMIN' not in user.roles %}
                        <a class="btn btn-light" href="{{ path('app_user_upgrade', {'id': user.id}) }}">Rendre admin</a>
                    {% endif %}

                    <a class="btn btn-danger" href="{{ path('app_user_delete', {'id': user.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_user_new') }}">Créer nouveau professeur</a>



{% endblock %}
